body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
}

#projection {
    width: 1080px;
    height: 1080px;
}

/* Buildings */
.building {
    position: absolute;
    /*background-color: #fff;*/
    /*opacity: 0;*/
    transition: all 0.25s ease;
}

.visible {
    opacity: 1;
}

.building .hidden {
    display: none !important;
}

.building .open {
    display: block;
}


#sd-building,
#sd-building video {
    top: 548px;
    left: 103px;
    width: 204px;
    height: 59px;
}

#sh-building,
#sh-building video {
    top: 330px;
    left: 105px;
    width: 180px;
    height: 161px;
}

#si-building,
#si-building video {
    top: 534px;
    left: 359px;
    width: 558px;
    height: 87px;
}

#sl-building,
#sl-building video {
    top: 72px;
    left: 369px;
    width: 340px;
    height: 134px;
}

#sm-building,
#sm-building video {
    top: 295px;
    left: 429px;
    width: 285px;
    height: 194px;
}

#se-building,
#se-building video {
    top: 673px;
    left: 273px;
    width: 67px;
    height: 183px;
}


/* Infofields */
.infofield {
    position: absolute;
    width: 190px;
    height: 180px;
    opacity: 0;
    transition: all 0.25s ease;
}

.infofield_content {
    margin-top: -160px;
}

.infofield_content .heading {
    position: absolute;
    margin-top: -40px;
    margin-left: 90px;
}

.infofield_icon {
    width: 30px;
    height: 30px;
    margin-left: 50px;
}

.infofield p {
    padding: 0 30px 0 50px;
}

.infofield h1 {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 2px 0;
}

.infofield h2 {
    font-size: 0.75rem;
    font-weight: 400;
    margin: 2px 0;
}

.infofield p {
    font-size: 0.625rem;
    font-weight: 100;
}

.infofield.visible {
    opacity: 1;
}


#sd-infofield,
#se-infofield {
    top: 675px;
    left: 58px;
    transform: rotate(90deg)
}

#si-infofield {
    top: 676px;
    left: 476px;
}

#sl-infofield,
#sh-infofield {
    top: 72px;
    left: 105px;
    transform: rotate(180deg);
}

#sm-infofield {
    top: 301px;
    left: 728px;
    transform: rotate(270deg);
}


/* Infofields */
.infofield {
    width: 225px;
    height: 180px;
    position: absolute;
    background-color: #000;
    opacity: 0;
    transition: all 0.25s ease;
}

.infofield .hidden {
    display: none !important;
}

.infofield video,
.infofield .open {
    display: block;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
}

/*.infofield .open {
    background: url(../images/infofield_open.png) no-repeat center center;
    background-size: 100% 100%;
}*/

.infofield .open img {
    max-width: 100%;
    max-height: 100%;
}

/* Vehicle */
#vehicle {
    position: absolute;
    left: 1000px;
    background-size: 100% 100%;
    z-index: 100;
}

#vehicle.down {
    -webkit-transform: rotate(180deg);
}

.bicycle-1,
.bicycle-2,
.bicycle-3 {
    width: calc(48px/3);
}

.bicycle-1 {
    height: calc(68px/3);
    background: url('../images/rad_1.png') no-repeat center center;
}

.bicycle-2 {
    height: calc(88px/3);
    background: url('../images/rad_2.png') no-repeat center center;
}

.bicycle-3 {
    height: calc(108px/3);
    background: url('../images/rad_3.png') no-repeat center center;
}

.bus-1,
.bus-2,
.bus-3 {
    width: calc(46px/3);
}

.bus-1 {
    height: calc(85px/3);
    background: url('../images/bus_1.png') no-repeat center center;
}

.bus-2 {
    height: calc(105px/3);
    background: url('../images/bus_2.png') no-repeat center center;
}

.bus-3 {
    height: calc(125px/3);
    background: url('../images/bus_3.png') no-repeat center center;
}

.car-1,
.car-2,
.car-3 {
    width: calc(45px/3);
}

.car-1 {
    height: calc(85px/3);
    background: url('../images/auto_1.png') no-repeat center center;
}

.car-2 {
    height: calc(125px/3);
    background: url('../images/auto_2.png') no-repeat center center;
}

.car-3 {
    height: calc(185px/3);
    background: url('../images/auto_3.png') no-repeat center center;
}

.train-1,
.train-2,
.train-3 {
    width: calc(46px/3);
}

.train-1 {
    height: calc(105px/3);
    background: url('../images/zug_1.png') no-repeat center center;
}

.train-2 {
    height: calc(145px/3);
    background: url('../images/zug_2.png') no-repeat center center;
}

.train-3 {
    height: calc(185px/3);
    background: url('../images/zug_3.png') no-repeat center center;
}

/* controls */
#controls {
    position: absolute;
    z-index: 1000;
    top: 950px;
    width: 1080px;
    height: 200px;
}

#controls canvas {
    margin-top: -75px;
}
